<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>

<body>
    <h1>Product</h1>
    Name : <%= product.name %><br>
    <ul>
        <li>ID : <%= product.id %></li>
        <li>Price : £<%= product.price %></li>
        <li>Category : <a href="/products?category=<%= product.category %>"><%= product.category %></a></li>
    </ul>
    <a href="/products">All Products</a>
    <a href="/products/<%= product._id%>/edit">Edit</a>
    <form action="/products/<%= product._id%>?_method=DELETE" method="POST">
        <button>delete</button>
    </form>
</body>
</body>


</html>